POSTGRES_DB=ai_wedding_photos
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

AUTH_SERVICE_URL=http://localhost:8001
EVENT_SERVICE_URL=http://localhost:8002
PHOTO_SERVICE_URL=http://localhost:8003
SEARCH_SERVICE_URL=http://localhost:8004
AI_FACE_SERVICE_URL=http://localhost:8005
